venv/

data/
src/data/
src/data/zipped
src/data/calculations/

.ipynb_checkpoints/

*.pyc
*.pyo
__pycache__/

*.log
*.tmp

.vscode/
.idea/
*.iml
.DS_Store

.env
config.ini
secrets.json

build/
dist/
*.egg-info/

Pipfile.lock
