venv/

data/
src/src/data/data_cleaned/cleaned_airbnb_data.txt
src/src/data/data_cleaned/cleaned_rentals_data.txt

*.pyc
*.pyo
__pycache__/

*.log
*.tmp

.vscode/
.idea/
*.iml
.DS_Store

.env
config.ini
secrets.json

build/
dist/
*.egg-info/

requirements.txt
Pipfile.lock
