venv/

data/*.csv
data/*.zip
data/*.json
src/data/zipped
src/data/calculations

src/data/data_cleaned/*.json
src/data/data_cleaned/*.txt

.ipynb_checkpoints/

*.pyo
__pycache__/

*.log
*.tmp
src/logs/*.log

.vscode/
.idea/
*.iml
.DS_Store

.env
config.ini
secrets.json

build/
dist/
*.egg-info/

Pipfile.lock
